/**
 * @since 2022-06-10 11:53
 * @author vivaxy
 */
#a {
  background: rgb(255, 200, 200);
  width: 200px;
  height: 200px;
  border: 1px solid #000;
}

#b {
  background: rgb(200, 255, 200);
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  margin: auto;
}

p {
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}
