/**
 * @since 2016-02-04 16:00
 * @author vivaxy
 */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

.form {
    display: -webkit-box;
}

.form label {
    line-height: 46px;
    font-size: 24px;
    padding: 8px;
    width: 100px;
    display: block;
    -webkit-box-flex: 0;
}

.form input {
    line-height: 46px;
    font-size: 24px;
    display: block;
    -webkit-box-flex: 1;
}

.send-button {
    width: 100%;
    height: 50px;
    background-color: #fff;
    font-size: 24px;
}
