body {
  margin: 0;
}

.figure {
  width: 160px;
  height: 170px;
  margin: 100px auto;
  background: url(sprite.png) no-repeat 0 0;
}

.figure:hover {
  animation: fly 1s steps(12) both;
  -webkit-animation: fly 1s steps(12) both;
}

@keyframes fly {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1920px 0;
  }
}

@-webkit-keyframes fly {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -1920px 0;
  }
}
