/**
 * @since 150119 09:46
 * @author vivaxy
 */
body {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

.demo {
  width: 10%;
  height: 10%;
  position: absolute;
  background: #f00;
  transition: all 1s;
  -webkit-transition: all 1s;
  top: 0;
}

.to {
  top: 90%;
}
