/**
 * @since 2017-01-26 19:02
 * @author vivaxy
 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.text {
    margin: 20px auto 0 auto;
    width: 240px;
}

.text textarea {
    padding: 0;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: none;
}

.links {
    font-size: 0;
    width: 240px;
    margin: 20px auto 0 auto;
}

.links a {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    height: 32px;
    line-height: 32px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.sign {
    margin-right: 40px;
    background-color: rgb(231, 76, 60);
}

.check {
    background-color: rgb(26, 188, 156);
}

a[disabled] {
    background-color: rgb(200, 200, 200);
}

.result {
    width: 240px;
    margin: 20px auto 0 auto;
    word-break: break-all;
}
