/**
 * @since 2023-11-23
 * @author vivaxy
 */
body {
  margin: 8px;
}

.controls {
  margin-top: 8px;
}

#input {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  display: block;
  font-family: monospace;
}

#output {
  font-family: monospace;
  white-space: pre-wrap;
  margin-top: 8px;
}

#output details {
  padding: 2px 0;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}

#output details:hover {
  border: 1px solid #0c0c0c;
}

#output details p {
  min-height: 18px;
  line-height: 18px;
  margin: 0;
}

#output details p:nth-of-type(2n + 1) {
  background: rgb(250, 250, 250);
}

#output details summary {
  padding-left: 4px;
}

#output details summary .position {
  color: #999;
  margin-left: 8px;
}

#output details p.current-line {
  background: rgb(200, 200, 200);
}

#output details p.highlight-line {
  background: rgb(255, 200, 200);
}

#output details p .line-no {
  background: #fff;
  color: #999;
  min-width: 40px;
  display: inline-block;
  border-right: 1px solid #efefef;
  user-select: none;
  height: 18px;
  text-align: right;
  cursor: pointer;
}

#output details p .content {
  box-sizing: border-box;
  margin-left: 8px;
}
