/**
 * @since 2023-11-23
 * @author vivaxy
 */
body {
  margin: 8px;
}

#input {
  width: calc(100% - 16px);
  height: 200px;
  box-sizing: border-box;
  display: block;
  font-family: monospace;
}

#output {
  font-family: monospace;
  white-space: pre-wrap;
}

#output details {
  padding: 2px 0;
  border: 1px solid #efefef;
}

#output details p {
  min-height: 18px;
  line-height: 18px;
  margin: 0;
}

#output details p:nth-of-type(2n + 1) {
  background: #efefef;
}

#output details summary .position {
  color: #999;
  margin-left: 8px;
}

#output details p.current-line {
  background: #ff3c3c;
  color: #fff;
}

#output details p .line-no {
  background: #fff;
  color: #999;
  min-width: 40px;
  display: inline-block;
  border-right: 1px solid #efefef;
  user-select: none;
  height: 18px;
  text-align: right;
}

#output details p .content {
  box-sizing: border-box;
  margin-left: 8px;
}
