<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link type="image/png" rel="shortcut icon" href="/vivaxy.icon.png" />
    <link type="text/css" rel="stylesheet" href="index.css" />
    <title>columns</title>
    <meta name="author" content="vivaxy <xyxuye2007@126.com>" />
    <meta
      name="keywords"
      content="vivaxy,samples,github,demo,playground,columns,test,layout"
    />
    <meta name="description" content="Columns" />
  </head>

  <body>
    <div class="row" data-type="1" data-method="1">
      <div class="left">fixed width</div>
      <div class="right">fill remaining spaces</div>
    </div>
    <div class="row" data-type="1" data-method="2">
      <div class="left">fixed width</div>
      <div class="right">fill remaining spaces</div>
    </div>
    <div class="row" data-type="1" data-method="3">
      <div class="left">fixed width</div>
      <div class="right">fill remaining spaces</div>
    </div>
    <div class="row" data-type="1" data-method="4">
      <div class="left">fixed width</div>
      <div class="right">fill remaining spaces</div>
    </div>
    <div class="row" data-type="2" data-method="1">
      <div class="left">fixed width</div>
      <div class="right">fill remaining spaces and two lines</div>
    </div>
    <div class="row" data-type="2" data-method="2">
      <div class="left">fixed width</div>
      <div class="right">fill remaining spaces and two lines</div>
    </div>
    <script type="text/javascript" src="/ba.js"></script>
  </body>
</html>
