/**
 * @since 2021-06-25
 * @author vivaxy
 */
.pending-structs {
  font-family: monospace;
  font-size: 12px;
  background: rgb(255, 255, 200);
}

.pending-structs p {
  margin: 0;
}

.client {
  flex: 1 0 auto;
  border: 1px solid #eee;
  margin: 2px;
}

.client-id {
  font-size: 10px;
  color: #999;
  margin: 0;
  font-family: monospace;
}

.clients {
  display: flex;
}

.client-model {
  display: flex;
}

.shared-type {
  flex: 0 0 20px;
  font-size: 12px;
  font-family: monospace;
  border: 1px solid #fff;
}

.shared-type.delete {
  background: rgb(255, 200, 200);
}

.shared-type.insert {
  background: rgb(200, 255, 200);
}

.clock {
  margin: 0;
  text-align: center;
  color: #999;
}

.shared-type-value {
  margin: 0;
  text-align: center;
}
