/**
 * @since 2022-07-25 15:46
 * @author vivaxy
 */
html,
body {
  height: 100%;
}

body {
  margin: 0 20px;
}

.scroll-container {
  overflow: scroll;
  height: 100%;
}

.sticky {
  position: sticky;
  top: 100px;
  margin-left: 100px;
  height: 0;
}
