<template>
  <style>
    .idb-table {
      border: 1px solid #000;
      padding: 8px;
      margin: 8px 0;
    }
  </style>
  <div class="idb-table">
    <span class="js-table-name"></span>
    <delete-table></delete-table>
    <table-data></table-data>
    <add-column></add-column>
    <add-row></add-row>
  </div>
</template>
<script>
  const idbTableDocument = document.currentScript.ownerDocument;

  class IDBTable extends HTMLElement {

    static get DATA_TABLE_NAME() {
      return 'data-table-name';
    };

    static get DATA_COLUMN_NAMES() {
      return 'data-column-names';
    }

    static get DATA_NEXT_KEY() {
      return 'data-next-key';
    }

    static get DATA_ROWS() {
      return 'data-rows';
    }

    static get ELEMENT_NAME() {
      return 'idb-table';
    };

    static get observedAttributes() {
      return [IDBTable.DATA_TABLE_NAME, IDBTable.DATA_COLUMN_NAMES, IDBTable.DATA_NEXT_KEY, IDBTable.DATA_ROWS];
    }

    constructor() {
      super();
      this.shadow = this.attachShadow({ mode: 'closed' });
      const content = idbTableDocument.querySelector('template').content.cloneNode(true);
      this.shadow.appendChild(content);
    }

    attributeChangedCallback(name, oldValue, newValue) {
      if (name === IDBTable.DATA_TABLE_NAME) {
        this.shadow.querySelector('.js-table-name').innerHTML = newValue;
        this.shadow.querySelector(DeleteTable.ELEMENT_NAME).setAttribute(DeleteTable.DATA_TABLE_NAME, newValue);
        this.shadow.querySelector(TableData.ELEMENT_NAME).setAttribute(TableData.DATA_TABLE_NAME, newValue);
        this.shadow.querySelector(AddColumn.ELEMENT_NAME).setAttribute(TableData.DATA_TABLE_NAME, newValue);
        this.shadow.querySelector(AddRow.ELEMENT_NAME).setAttribute(TableData.DATA_TABLE_NAME, newValue);
      } else if (name === IDBTable.DATA_COLUMN_NAMES) {
        this.shadow.querySelector(TableData.ELEMENT_NAME).setAttribute(TableData.DATA_COLUMN_NAMES, newValue);
      } else if (name === IDBTable.DATA_NEXT_KEY) {
        this.shadow.querySelector(AddRow.ELEMENT_NAME).setAttribute(AddRow.DATA_NEXT_KEY, newValue);
      } else if (name === IDBTable.DATA_ROWS) {
        this.shadow.querySelector(TableData.ELEMENT_NAME).setAttribute(TableData.DATA_ROWS, newValue);
      }
    }
  }

  customElements.define(IDBTable.ELEMENT_NAME, IDBTable);
</script>
