/**
 * @since 2016-08-20 11:10
 * @author vivaxy
 */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

video {
    display: block;
    width: 100%;
    height: 100%;
}
