/**
 * @since 2019-07-31 12:31
 * @author vivaxy
 */
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: #fff;
  color: #000;
}

body:after {
  content: "Your browser does not support prefers-color-scheme.";
}

@media (prefers-color-scheme: dark) {
  body {
    background: #000;
    color: #fff;
  }

  body:after {
    content: "prefers-color-scheme: dark";
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #fff;
    color: #000;
  }

  body:after {
    content: "prefers-color-scheme: light";
  }
}

@media (prefers-color-scheme: no-preference) {
  body {
    background: #fff;
    color: #000;
  }

  body:after {
    content: "prefers-color-scheme: no-preference";
  }
}
