/**
 * @since 2017-03-08 17:37
 * @author vivaxy
 */

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.canvas {
    width: 100vw;
    height: 100vh;
}
