/**
 * @since 2022-07-20 21:54
 * @author vivaxy
 */
body {
  margin: 0;
}

.container {
  width: 200px;
  height: 200px;
  background-color: #eee;
  padding: 50px;
}

#test {
  width: 100px;
  height: 100px;
  background-color: red;
}

.inner {
  width: 100%;
  height: 100%;
}
