/**
 * @since 2022-07-20 21:54
 * @author vivaxy
 */
#test {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
}
