body {
    margin: 0;
}

.main {
    float: left;
    width: 100%;
    background: #39c;
    height: 300px;
}

.sub {
    float: left;
    width: 200px;
    margin-left: -100%;
    background: #f60;
    height: 300px;
}

.extra {
    float: left;
    width: 100px;
    margin-left: -100px;
    background: #666;
    height: 300px;
}
