/**
 * @since 2021-03-26 16:27
 * @author vivaxy
 */
@import "https://prosemirror.net/css/editor.css";

.annotation-handle {
  width: 0;
  height: 0;
  position: relative;
  display: inline;
  user-select: none;
  z-index: 11;
}

.annotation-add-button {
  position: absolute;
  bottom: 30px;
  width: 112px;
  height: 24px;
}

.annotation-highlight {
  background-color: rgba(255, 255, 0, 0.3);
}

.annotation-tooltip {
  display: inline;
  position: relative;
  width: 0;
  height: 0;
  user-select: none;
  z-index: 11;
}

.annotation-tooltip .annotation-tooltip-list {
  position: absolute;
  bottom: 30px;
  width: 112px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  padding-left: 4px;
  margin: 0;
}

.annotation-tooltip-item {
  list-style-type: none;
  line-height: 24px;
  border-bottom: 1px solid #999;
}

.annotation-tooltip-item:last-child {
  border-bottom: none;
}

.annotation-delete-button {
  height: 24px;
  float: right;
}
