/**
 * @since 2018-04-22 09:09:29
 * @author vivaxy
 */
body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.item {
  background: #83baff;
  position: absolute;
  bottom: 0;
  color: #333;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.2);
}

.item.outer-select {
  background: #90fdff;
  z-index: 1;
}

.item.inner-select {
  background: #cbff7c;
  z-index: 1;
}

.item.mark {
  background: #ff7b7e;
  z-index: 1;
}

.item.compare {
  animation-name: flash;
  z-index: 1;
}

@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}
