/**
 * @since 2016-10-10 20:36
 * @author vivaxy
 */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    height: 500px;
}
