/**
 * @since 2017-07-30 09:03:23.502
 * @author vivaxy
 */

.popover {
    position: relative;
    cursor: pointer;
}

.popover:hover:after {
    display: block;
    position: absolute;
    background: #000;
    border-radius: 4px;
    content: attr(pop-over-content);
    color: #fff;
    padding: 2px 6px;
    white-space: pre;
}

/* for ios safari */
.popover:focus:after {
    display: block;
    position: absolute;
    background: #000;
    border-radius: 4px;
    content: attr(pop-over-content);
    color: #fff;
    padding: 2px 6px;
    white-space: pre;
}
