<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link type="image/png" rel="shortcut icon" href="/vivaxy.icon.png" />
    <link type="text/css" rel="stylesheet" href="index.css" />
    <title>popover</title>
    <meta name="author" content="vivaxy <xyxuye2007@126.com>" />
    <meta
      name="keywords"
      content="vivaxy,examples,github,demo,playground,popover,test,layout,sample,demos,samples"
    />
    <meta name="description" content="Popover" />
  </head>

  <body>
    <p>
      <span
        tabindex="0"
        class="popover"
        popover-content="You are reading this when hovering me!
Next line!"
        >ℹ️</span
      >
      Lorem ipsum dolor sit amet, consectetur<span
        tabindex="0"
        class="popover"
        popover-content="You are reading this when hovering me!
Next line!"
        >ℹ️</span
      >
      adipiscing elit. Curabitur mi nulla, ornare in ultricies vitae, dictum et
      velit. Aenean eget neque sit amet purus pretium accumsan sed vel magna.
      Sed efficitur laoreet consequat. Integer molestie maximus vulputate. Proin
      id tincidunt urna. Proin sed diam feugiat, viverra magna non, cursus
      metus. Cras tristique ipsum vestibulum, tempor ligula pharetra, imperdiet
      turpis. Nullam feugiat sollicitudin elit a facilisis. Fusce sagittis sed
      nisl vel luctus. Donec sed enim augue. Nunc consectetur odio in imperdiet
      dapibus. In sapien justo, imperdiet a magna eu, bibendum faucibus felis.
      Curabitur feugiat libero ut nulla commodo viverra. Nullam nec leo ac ante
      placerat convallis. Cras laoreet in quam et semper. Phasellus tempor at
      dui eget aliquam. Mauris tempus leo ut convallis pretium. Duis eget tortor
      tempus, interdum ligula et, porttitor sapien. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Praesent
      lacinia orci a aliquam euismod. In at neque justo. Nam tristique posuere
      ornare. Donec sit amet augue ut eros lacinia elementum non ut ante.
      Phasellus eu ipsum tempus, rhoncus tortor sed, condimentum ligula. Quisque
      finibus id leo sollicitudin ultricies. Nullam nunc diam, ornare varius ex
      id, bibendum ornare eros. Aliquam eu felis laoreet, varius lorem ac,
      tristique metus. Aenean viverra vitae elit et egestas. Morbi et dignissim
      lectus. Etiam vel sollicitudin ex. Quisque vitae ante enim. Suspendisse
      porta eros quis augue dapibus aliquet. Aenean laoreet felis non turpis
      sollicitudin ultrices. Morbi bibendum pellentesque libero, at vehicula
      ligula tincidunt ac. Donec accumsan lectus metus, nec fringilla velit
      facilisis ut. Suspendisse sed dapibus nunc. Ut nec orci nibh. Sed volutpat
      ut tortor eget aliquet. Donec blandit eleifend sodales. Donec semper nulla
      metus, ac sollicitudin magna condimentum ut. In mauris erat, dapibus et
      porttitor at, consequat non nulla. Praesent arcu sem, pellentesque id
      tincidunt eu, congue eget odio. Cras lacinia dictum nisi, quis ornare
      dolor commodo at.
      <span
        tabindex="0"
        class="popover"
        popover-content="You are reading this when hovering me!
Next line!"
        >ℹ️</span
      >Nunc vulputate et sem a viverra.<span
        tabindex="0"
        class="popover"
        popover-content="You are reading this when hovering me!
Next line!"
        >ℹ️</span
      >
    </p>
    <script type="text/javascript" charset="utf-8" src="/ba.js"></script>
  </body>
</html>
