<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link type="image/png" rel="shortcut icon" href="/vivaxy.icon.png" />
    <link type="text/css" rel="stylesheet" href="main.css" />
    <title>fixed-bar</title>
    <meta name="author" content="vivaxy <xyxuye2007@126.com>" />
    <meta
      name="keywords"
      content="vivaxy,samples,github,demo,playground,fixed-bar,test,layout,sample,demos"
    />
    <meta name="description" content="Fixed bar" />
  </head>

  <body>
    <div class="header">
      <a class="back" href="javascript:void(0);"
        ><span class="icon-back"></span></a
      ><span class="separator"></span>这里是标题
    </div>
    <div class="big-image-wrap">
      <img src="big-image.jpg" class="big-image" />
      <div class="big-image-paragraph">
        <p>
          澳洲极品龙虾配牛肝菌松露烩饭吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃吃
        </p>
      </div>
    </div>
    <div class="section action-bar j-fixed-bar">
      <div class="title-wrap">
        <span class="title">我是会一直显示在屏幕上的。</span
        ><a href="javascript:void(0);" class="button">确定</a>
      </div>
    </div>
    <div class="section image-detail-wrap">
      <div class="inner-wrap">
        <div class="title-wrap">
          <span class="title">哈哈哈</span>
        </div>
        <div class="detail-wrap">
          <p class="detail">
            哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈，好吃好吃好吃好吃好吃好吃好吃好吃好吃好吃，厉害厉害厉害厉害厉害厉害厉害。
          </p>
        </div>
      </div>
    </div>
    <div class="section-title">
      标题
    </div>
    <div class="section section-article">
      据说林宥嘉在深圳开演唱会出了个大笑话，内容如下：当他唱“你是我的眼”这首歌的时候，为了活跃现场气氛，当他唱到高潮，你是我的…这会，他把话筒丢给台下观众，只见观众接了句…小呀小苹果，怎么爱你都不嫌多！剩下林宥嘉在台上凌乱…我也是醉了！
    </div>
    <div class="section-title">
      在“对不起”中间加哪两个字最心酸。
    </div>
    <div class="section section-article">
      对三，要不起。
    </div>
    <div class="section-title">
      无题
    </div>
    <div class="section section-article">
      从前有只麋鹿，它在森林里玩儿，不小心走丢了。于是它给它的好朋友长颈鹿打电话：“喂…我迷路啦。”
      长颈鹿听见了回答说：“喂，我长颈鹿啦~”
    </div>
    <div class="section-title">
      半辈子的没有，不过这个让我笑了好一阵子，背景是冬奥会李坚柔夺冠
    </div>
    <div class="section section-article">
      我们记住这个名字：克里斯蒂！ 她不仅自己滑倒， 把意大利人铲翻，
      还把韩国人铲倒，力保李坚柔夺冠。
      她比当年最后一枪脱靶，拱手相让金牌的美国射击选手埃蒙斯还够意思。
    </div>
    <div class="section-title">
      无题
    </div>
    <div class="section section-article">
      刚刚去楼下看到两小破孩吵架，甲对乙说：“你信不信我打你爹”？ 乙说：“不信” 。
      然后甲果断的抽了自己俩嘴巴，转身走了。 留下乙独自在风中凌乱……
    </div>

    <script type="text/javascript" src="main.js"></script>
    <script type="text/javascript" src="/ba.js"></script>
  </body>
</html>
