/**
 * @since 15-09-08 20:35
 * @author vivaxy
 */
* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

input {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 36px;
    display: block;
    outline: none;
    border: 1px solid #000;
}
